ul {
    border: 1px solid #555;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}


/* */



li {
    float: left;
}


/* */



a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}



/* */




